* {
    padding: 0;
    margin: 0
}

body {
    background-image: url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    font-family: 'Poppins', sans-serif;
    
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.img-logo {
    width: 180px;
    height: 30px;
    margin-left: 80px;
}

.button-header {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    margin-right: 80px;
}

.button-header a {
    color: hsl(192, 100%, 9%);
    text-decoration: none;
    font-weight: 600;
}

h1 {
    font-size: 28px;
    width: 330px;
    margin-top: 140px;
    margin-left: 80px;
    color: hsl(192, 100%, 9%);
}

p {
    width: 340px;
    margin-left: 80px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 12px;
    color: hsl(192, 100%, 9%);
}